<app-nav></app-nav>

<div style="margin-top: 5%"></div>

<app-publicar (postEvent)="receivePost($event)"></app-publicar>

<app-post *ngFor="let post of posts" 
            [post]="post"
            [actions]="actions"
            (displayEvent)="receiveDisplay($event)"
            (updEvent)="receiveDisplay($event)"
            (delEvent)="receiveDel($event)"></app-post>

<app-modal #modal 
            (sendCommentEvent)="receiveComment($event)"
            (sendUpdatePostEvent)="receiveUpd($event)"></app-modal>