<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Comentario</h4>
    </div>
    <div class="modal-body">
        <textarea class="form-control shadow-none" placeholder="Deja tu comentario acá" style="resize: none;" [(ngModel)]="comment"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger shadow-none w-25" (click)="closeModal('comment')">Cancelar</button>
        <button type="button" class="btn btn-success shadow-none w-25" (click)="sendComment()">Ok!</button>
    </div>
</ng-template>

<ng-template #updatePost let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar post</h4>
    </div>
    <div class="modal-body">
        <textarea class="form-control shadow-none" placeholder="Deja tu comentario acá" style="resize: none;" [(ngModel)]="contenidoPost"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger shadow-none w-25" (click)="closeModal('updatePost')">Cancelar</button>
        <button type="button" class="btn btn-success shadow-none w-25" (click)="sendUpdatePost()">Ok!</button>
    </div>
</ng-template>
