<app-nav></app-nav>

<div class="d-flex justify-content-center" style="margin-top: 5%;">
    <div class="shadow w-75" style="margin-top: 1%; border-radius: .5em;">
        <div class="p-4">
            <div class="d-flex justify-content-center">
                <!--<img src="img/ej2.jpg" class="w-25">-->
            </div>
            
            <p class="fs-2 text-center">{{user.name + " " + user.lastName}}</p>
        </div>
        <app-user-profile *ngIf="profile"
                           (sendShowFollowSection)="receiveShowFollowSection($event)"></app-user-profile>
        <app-user-follow *ngIf="!profile" [idUser] = "idUser"></app-user-follow>
    </div>
</div>

<div class="w-100" *ngIf="!showFollowSection else templateFollowSection">

    <app-publicar *ngIf="profile" (postEvent)="receivePost($event)" ></app-publicar>

    <app-post *ngFor="let post of posts" 
                [post] = "post"
                [actions]="actions"
                (displayEvent)="receiveDisplay($event)"
                (updEvent)="receiveDisplay($event)"
                (delEvent)="receiveDel($event)"></app-post>

    <app-modal #modal 
                (sendCommentEvent)="receiveComment($event)"
                (sendUpdatePostEvent)="receiveUpd($event)"></app-modal>

</div>

<ng-template #templateFollowSection>
    <app-follow-section></app-follow-section>
</ng-template>