<div class="d-flex justify-content-center my-4" >
    <div class="w-50 shadow p-4" style="border-radius: .5em;">
        <app-post-header 
            [fecha] = "post.fecha" 
            [idPost] = "post.idPost" 
            [usuario] = "post.namesUser" 
            [idUser] = "post.idUser"></app-post-header>
        <app-post-body [contenidoPost] = "post.contenido"></app-post-body>
        <app-post-footer 
            [idPost] = "post.idPost"
            [active] = "like"></app-post-footer>
        <app-post-comentarios [idPost] = "post.idPost"></app-post-comentarios>
    </div>
</div>